.App {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2C3333;
    padding: 0px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.text-golden {
    color: #ffb530 !important;
}

.text-hover {
    color: #fff !important;
}

.text-big {
    font-size: 2.5em;
    font-weight: 700;
}

.header-border {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #2C3333;
    z-index: 99999;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.background {
    background-image: url(./Images/background.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(231, 231, 231, 0.1) 0px 15px 12px;
}

.seo-guru-bg {
    /* background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(129, 126, 121, 0.5) 50%, rgba(0, 0, 0, 1) 100%); */
    min-height: 100vh;
}

.Card-design {
    background-color: #2C3333;
    border: 1px solid #ffb530;
    box-shadow: rgba(194, 203, 211, 0.3) 0px 1px 2px 0px, rgba(219, 226, 231, 0.15) 0px 2px 6px 2px;

}

.Card-design img {
    margin: 10px auto !important;
}

.Card-design .card-title {
    color: #ffb530;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    /* border-bottom: 1px dashed #FFB530; */
}

.Card-design .borders {
    border-bottom: 1px dashed #ffb530;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.Card-design p {
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: justify;
}

.card-title p {
    color: #ffb530;
    text-align: center;
}

.list-group-item {
    background-color: transparent !important;
}

.list-group-item a {
    font-size: 1.1rem;
    padding: 10px;
    color: #ffb530;
}

.list-group-item a:hover {
    color: #fbff00;
}

.Card-design a {
    text-decoration: none;
    color: #ffb530;
    font-size: 1.2rem;
}

.Card-design a:hover {
    color: #fbff00;
}

.Card-design a svg {
    margin: 0 5px;
}

.serviceBox {
    color: #fff;
    /* background: linear-gradient(to right,#39AB99,#4DB179); */
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 75px 60px;
    border-radius: 120px 60px/60px 120px;
    position: relative;
    z-index: 1;
    width: 15rem;
    height: 14rem;
}

.serviceBox:before {
    content: "";
    background-color: #ffb7302d;
    border-radius: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    z-index: -1;
}

.serviceBox .service-icon {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px;
}

.serviceBox .title {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.serviceBox .description {
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 0;
}

.serviceBox.orange {
    border: 1px solid #ffb530;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-services {
    position: relative;
}

.main-services .Service-Box-two {
    position: absolute;
    top: 19em;
    left: 9em;
}

.main-services .heading-title {
    margin-bottom: 50px;
    color: #ffb530;
}

.btn-golden {
    background-color: #ffb530;
    font-size: 1.3rem;
    border: none;
    color: #000000;
    font-weight: 600;

}

.bg-golden {
    background-color: #ffb530;
}


.about-text {
    font-size: 1em;
    color: #fff;
}

.custom-experiance {
    border: 8px solid #ffb530;
    width: 170px;
    height: 170px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.custom-experiance span {
    font-size: 6rem;
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
}

.dotted-bg {
    background-image: radial-gradient(#212121 20%, transparent 20%), radial-gradient(#212121 20%, transparent 20%);
    background-color: transparent;
    background-position: 0px 0, 50px 50px;
    background-size: 25px 24px;
    margin-left: -80px;
    z-index: 1;
}

.experiance-text {
    color: #fff;
    font-size: 2em;
    padding: 0px 0px;
    padding-left: 45px;
    font-weight: 600;

}

.slick-slide img {
    width: 100% !important;
    margin: 10px !important;
    padding: 10px !important;
}

.home-height {
    height: 100vh;
}

/* 
*
*
*
*
*
Responsive code 
*
*
*
*
*
*
*/


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media all and (max-width: 992px) {}

@media all and (max-width: 768px) {
    .phone {
        margin-top: 5em !important;
        padding: 5em 0em !important;
        height: 100% !important;
    }

    .phone img {
        max-width: 75%;
        max-height: 75% !important;
    }

    .phone .container {
        height: 100% !important;
    }

    .home-height {
        height: 100%;
    }

    .Card-design {
        width: 100% !important;
    }

    .card-title h1 {
        font-size: 1em;
    }

    .card-title h6 {
        font-size: 0.7em;
    }

    .main-services .Service-Box-two {
        position: static;
    }

    .serviceBox {
        margin: 20px auto;
    }

    .custom-block {
        display: block;
        margin: 5px auto;
    }

    .main-services {
        margin-top: 2em;
    }
}



@media all and (max-width: 370px) {
    .container {
        padding: 0 !important;
    }

    .row>* {
        padding: 0 !important;
    }

    .Card-design a {
        text-decoration: none;
        color: #ffb530;
        font-size: 1rem;
    }
}

@media all and (max-width: 325px) {
    .Card-design a {
        text-decoration: none;
        color: #ffb530;
        font-size: 0.9rem;
    }
}